<div class="jumbotron">
  <h1 class="title">人鱼线</h1>
  <p class="slogan">
    我们是一个提供高级健身教练服务的网站。
  <br>
  希望藉由这个网站，能让大家找到身边优秀的健身教练。
  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">加入我们</a></p>
</div>

<div class="content">

 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">健身需要找教练</h2>
         <p class="lead">因为教练就是伙伴<br>能在关键时候帮你一把</p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-b">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">健身需要好的健身教练</h2>
         <p class="lead">在健身的路上少走弯路</p>
       </div>
       <div class="col-lg-5 col-sm-pull-6  col-sm-6">
         <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">选择有经验的教练</h2>
         <p class="lead">可以大大减少受伤的机率</p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>


 </div>
